---
title: Blog
layout: layouts/base.njk
---
<body>
<div class="grid grid-cols-2 gap-9">

<div class="card card-side bg-stone-50 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Blog Post One!</h2>
    <p>Automate Your Project Setup with a Command-Line Script</p>
    <a href="/blog/posts/blog1.md" class="text-red-700" download>Download Markdown File</a>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<div class="card card-side bg-stone-50 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Blog Post Two!</h2>
    <p>Getting Started with CSS in 11ty: A Beginner's Guide</p>
    <a href="/blog/posts/blog2.md" class="text-red-700" download>Download Markdown File</a>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
</body>