---
title: Contact Samantha
layout: layouts/base.njk
---

<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">What is your first name?</span>
  </div>
  <input type="text" id="fname" name="firstname" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
  <div class="label">
    <span class="label-text">What is your last name?</span>
  </div>
  <input type="text" id="lname" name="lastname" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
  <div class="label">
    <span class="label-text">Subject</span>
  </div>
  <input type="text" id="subject" name="subject" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <div class="label">
  </div>
</label>