---
title: Website Projects
layout: layouts/base.njk
---
<div class="grid grid-cols-3 gap-9">
 <div class="card w-96 bg-stone-50 shadow-xl">
  <figure><img src="/img/site1.png" alt="404 Page" /></figure>
  <div class="card-body">
    <h2 class="card-title">Basic 404 Error Page</h2>
    <p><a href="https://samanthamajor.github.io/404markup/" class="text-red-700" target="_blank">Link to 404 Error Website</a></p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<div class="card w-96 bg-stone-50 shadow-xl">
  <figure><img src="/img/site2.png" alt="Game Page" /></figure>
  <div class="card-body">
    <h2 class="card-title">Rock, Paper, Scissors, Lizard, Spock Game</h2>
    <p><a href="https://samanthamajor.github.io/Game/" class="text-red-700" target="_blank">Link to Game Website</a></p></p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<div class="card w-96 bg-stone-50 shadow-xl">
  <figure><img src="/img/site3.png" alt="JavaScript App" /></figure>
  <div class="card-body">
    <h2 class="card-title">Java Script Card Generator Page</h2>
    <p><a href="https://samanthamajor.github.io/JSapp/" class="text-red-700" target="_blank">Link to JavaScript App Website</a></p></p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
</div>